
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.svgRoot {
    /*border: 3px double whitesmoke;*/
    border-radius: 10px;

}


.svgRoot .static {
    cursor: not-allowed;
}

.svgRoot .draggable {
    cursor: move;
}

.svgRoot .draggable:hover {
    fill: orange;
}

.svgBlueprint {
    position: fixed;
    left: 350px;
    top: 120px;
    height: 400px;

}

#activeNodes {
    position: fixed;
    top: calc(20px + 400px + 80px);
    height: 400px;
    width: 320px;
}

.draggableWrapper {
    background: red;
    z-index: 9;
}

#ddctx {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

#ovl {
    z-index: 2;
    background: red;
}

#availableNodes {


}

#availableNodes .btnVertical .btn {
    display: block;
}

#propertyRoot, #activeNodes, nav, .majorElement {
    position: fixed;
    background: #263136;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid whitesmoke;

}

.taskbarElement {
    position: fixed;
    background: #263136;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid whitesmoke;
    top: 80px;
    /*width: 200px;*/
    /*height: 200px;*/
    max-height: 800px;
    overflow: auto;
}

.taskbarHeader {
    background: #263136;
    background-image: radial-gradient(#445b65 1px, transparent 0);
    background-size: 6px 6px;
    background-position: -2px -2px;
    margin: 3px;
    height: 20px;
    cursor: move;
}

.taskbarElement h3 {
    margin-top: 10px;
}

#blueprintConfig {
    top: 120px;
    left: 670px;
    width: 350px;
    text-align: left;
    max-height: 800px;
    overflow-x: auto;
}

#blueprintConfig pre {

    margin: 10px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

#nodeBlueprints {
    width: 300px;
    top: 120px;
    min-height: 600px;
    max-height: 800px;
    overflow-x: auto;
    text-align: left;
    padding: 15px;
}

#nodeBlueprints .nodeListItem {
    margin: 15px 0;
    display: block
}

#zoomCtn {
    bottom: 0px;
    left: 0px;

}

[center], .center {
    text-align: center;
}

button.newBtn.btn {
    text-align: center;
    width: 150px;
    margin-left: 10px;
    display: block;
}

nav {
    top: 0;
    width: max(40%, 800px);
    left: 0;
    padding: 10px;
    text-align: left;
}

#header {


}

nav #titlemark {
    font-size: 26px;
    color: whitesmoke;
    font-weight: bold;
    margin: 0 15px 0 10px;
    vertical-align: -8px;


    text-align: right;
    display: inline-block;
    background: whitesmoke;
    background: -webkit-linear-gradient(0deg, whitesmoke, #d4effc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#propertyRoot {
    top: 0;
    min-height: 400px;
    right: 0;
    width: 350px;
}

body {
    background: #263238;
    color: #eee;
    /*transition: color .8s , background .8s;*/
}


.btn.btn-100 {
    min-width: 100px;
    display: inline-block;
}

#svgRootCont {
    margin-top: 47px;
    border-top: 1px solid whitesmoke;

}

body {
    overflow: hidden;
}

.no-border {
    border: none;
}

.nodeListItem {
    margin: 5px 5px;
}

.nodeListItem .listItemDescr {
    width: 80px;
    margin-right: 10px;
    display: inline-block;
}

#activeNodes {
    overflow: auto;
    max-height: 400px;
}

#bgRectSvg {

}

#bgRectSvg:active {
    cursor: move;
}

button, h3, #titlemark {
    font-family: Bahnschrift, sans-serif;
}


.closer {
    float: right;
}

#recenter {
    left: calc(50% - (81px / 2));
    bottom: -3px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:". .";
}

.gtc-2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.gtc-3 {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
}

.majorElement hr {
    border: none;
    height: 1px;
    background: whitesmoke;
}

.dnodes .btn {
    width: calc(50% - 20px);
}

.dnodes .btn {
    width: calc(33% - 10px);
}

.w-100 {
    width: 100%;
}

.gtc-m-10 .gridItem {
    margin: 10px;
}

.m-10 {
    margin: 10px;
}

.m-5 {
    margin: 5px;
}

.gridItem.noPad {
    margin: 1px;
}

.p-5 {
    padding: 5px;
}


#taskbar {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

}

#taskbar > * {

}

#inspectLine {
    width: 150px;
    position: fixed;
    height: 200px;
    top: 40px;
}

.minimisedItem {
    position: fixed;
    right: 0;
    top: 0;
}

.minimiseButton {
    border: 1px solid whitesmoke;
    border-radius: 0px 7px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 23px;
    opacity: 0.9;
    background: #f1f1f1cc;
    cursor: pointer;
}

.minimisedItem button {
    border: 0;
    padding: 14px 10px 15px 10px;
    background: #f1f1f133;
    border-bottom: 1px solid var(--btn-bg);
    width: 80px;
    cursor: pointer;
    color: whitesmoke;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 15px;
    transition: all .15s;
    border-left: 0.5px solid var(--btn-bg)
}

.minimisedItem button:hover {
    background: var(--btn-bg);
    color: white;
    border-bottom: 1px solid whitesmoke;
}

.minimiseButton:hover {
    opacity: 1;
    background: #f1f1f1ee;
}

.inspectLine {
    border-radius: 8px;
    border: 1px solid whitesmoke;
}

#taskbar > .minimisedItem:nth-of-type(1) {
    right: calc(80px * 0);
}

#taskbar > .minimisedItem:nth-of-type(2) {
    right: calc(80px * 1);
}

#taskbar > .minimisedItem:nth-of-type(3) {
    right: calc(80px * 2);
}

#taskbar > .minimisedItem:nth-of-type(4) {
    right: calc(80px * 3);
}

.dragTarget {
    border: 1px solid lightskyblue;
    border-radius: 4px;
    margin: 10px auto;
    max-width: 120px;
    padding: 15px;
}

/*
WHITE THEME
 */
._white .taskbarHeader {
    background: #ddd;
    background-image: radial-gradient(#445b65 1px, transparent 0);
}

._white .taskbarElement {
    border: 1px solid #888;
    background: #ddd;
    color: #222;
    overflow: hidden;
    transition: background .4s;
}

._white .minimiseButton {
    border: 1px solid #888;
    background: #ccc;
    top: -1px;
    right: -1px;
    transition: background .4s;
}

._white #propertyRoot,
._white #activeNodes,
._white nav,
._white .majorElement {
    background: #f1f1f1;
    border: 1px solid #888;
    transition: background .4s;
}

._white #titlemark {

    background: -webkit-linear-gradient(0deg, #28354c, #325591);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body:has(._white) {
    background: white;
    transition: background .4s;
}

._white #svgRootCont {
    border-top: 1px solid #888;
}

