@import url('https://fonts.cdnfonts.com/css/bahnschrift');


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.svgRoot {
    /*border: 3px double whitesmoke;*/
    border-radius: 10px;

}


.svgRoot .static {
    cursor: not-allowed;
}

.svgRoot .draggable {
    cursor: move;
}

.svgRoot .draggable:hover {
    fill: orange;
}

.svgBlueprint {
    position: fixed;
    left: 350px;
    top: 135px;

}

.boxedItem {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100px;
    height: 60px;
}

foreignObject {
    outline: 3px solid transparent;

}

foreignObject:hover {
    outline: 3px double whitesmoke;
}


foreignObject > div {
    background: #66666666;
}

svg:has(foreignObject:active div) {
    cursor: move;
}

.blue div {
    border-color: #4488FF;
}

.red div {
    border-color: #e91e63;
}

.orange div {
    border-color: #ff693e;
}

.green div {
    border-color: #4caf50;
}

.purple div {
    border-color: #9c27b0;
}


.boxedItem .title {
    font-size: 15px;
    padding: 3px;
    margin-bottom: 3px;
}

.orange .boxedItem .title {
    background: #ff693e;
}

.blue .boxedItem .title {
    background: #4488FF;
}

.red .boxedItem .title {
    background: #e91e63;
}


.green .boxedItem .title {
    background: #4caf50;
}

.purple .boxedItem .title {
    background: #9c27b0;
}

#activeNodes {
    position: fixed;
    top: calc(20px + 400px + 80px);
    height: 400px;
    width: 320px;
}

#availableNodes {
    position: fixed;
    top: 80px;
    height: 400px;
    width: 320px;

}

#availableNodes .btnVertical .btn {
    display: block;
}

#propertyRoot, #activeNodes, nav, .majorElement {
    position: fixed;

    background: #263136;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid whitesmoke;

}

#nodeBlueprints {
    width: 300px;
    top: 120px;
    height: 600px;
    text-align: left;
    padding: 15px;
}

#nodeBlueprints .nodeListItem {
    margin: 15px 0;
    display: block
}

#zoomCtn {
    bottom: 0px;
    left: 0px;

}

[center], .center {
    text-align: center;
}

button.newBtn.btn {
    text-align: center;
    width: 150px;
    margin-left: 10px;
    display: block;
}

nav {
    top: 0;
    width: max(40%, 800px);
    left: 0;
    padding: 10px;
    text-align: left;
}

#header {


}

nav #titlemark {
    font-size: 26px;
    color: whitesmoke;
    font-weight: bold;
    margin: 0 15px 0 10px;
    vertical-align: -8px;


    text-align: right;
    display: inline-block;
    background: whitesmoke;
    background: -webkit-linear-gradient(0deg, whitesmoke, #d4effc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#propertyRoot {
    top: 0px;
    min-height: 400px;
    right: 0;
    width: 310px;
}

body {
    background: #263238;
    color: #eee;
    /*transition: color .8s , background .8s;*/
}


.btn.btn-100 {
    min-width: 100px;
    display: inline-block;
}

#svgRootCont {
    margin-top: 0px;

}

body {
    overflow: hidden;
}

.no-border {
    border: none;
}

.nodeListItem {


    margin: 5px 5px;
}

.nodeListItem .listItemDescr {
    width: 60px;
    display: inline-block;
}

#activeNodes {
    overflow: auto;
    max-height: 400px;
}

rect:active {
    cursor: move;
}

button, h3, #titlemark {
    font-family: Bahnschrift, sans-serif;
}

#smallGrid path {
    transition: stroke-width .5s;
}

svg:has(rect:active) #smallGrid path {
    stroke-width: 0px;
}

svg:has(rect:active) .nodeConnection {
    opacity: 0;
}


svg:not(:has(.currentNodeActive)) .nodeConnectionStart {
    opacity: 0;
}

svg:has(.currentNodeActive) .nodeConnectionEnd {
    opacity: 0;
}

.currentBez {
    stroke: orange;
    stroke-width: 2;
    fill: transparent;
}

.nodeConnection {
    border: 0px solid #999;
    width: 10px;
    height: 16px;
    padding: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    top: 23px;
    z-index: 3;
    background: #ccc;
    transition: opacity .1s;
    cursor: pointer;
}

.nodeConnectionStart {
    left: 0px;
    border-radius: 0 4px 4px 0;
}

.nodeConnectionEnd {
    right: 0px;
    border-radius: 4px 0px 0px 4px;
}

.nodeConnection:hover {
    background: #4caf50;
}

.closer {
    float: right;
}

#recenter {
    left: calc(50% - (81px / 2));
    bottom: -3px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
}

.gtc-2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.majorElement hr {
    border: none;
    height: 1px;
    background: whitesmoke;
}

.dnodes .btn {
    width: calc(50% - 20px);
}
.dnodes .btn {
    width: calc(33% - 10px);
}

.w-100 {
    width: 100%;
}
.gtc-m-10 .gridItem {
    margin:10px;
}